.root {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    li {
        cursor: pointer;

        a {
            text-align: center;
            display: block;
            padding: 10px 17px;
            border: 1px solid #f8520b;
            border-radius: 30px;
            color: #f8520b;

            &:hover {
                background-color: #f8520b;
                color: #fff;
            }
        }
    }

    :global {
        .selected {
            a {
                background-color: #f8520b;
                color: #fff;
            }
        }
    }
}